* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h4 {
    color: #F9FAF8;
}

h1, h4 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

a, .hero-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.testimonial {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

figcaption {
    text-align: end;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 100px;
    margin-bottom: 100px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.header-main {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-box {
    width: auto;
    height: auto;
    padding: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

blockquote {
    margin: 100px 100px 20px 100px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: auto;
    height: auto;
}

.call-text {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #3882F6;
    width: 80px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
}

