* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h4 {
    color: #F9FAF8;
}

h1, h4 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.testimonial {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.header-main {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
}

.call {
    display: flex;
    background-color: #3882F6;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 80px;
    height: 40px;
}

.footer {
    background-color: #1F2937;
}

