* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h4 {
    color: #F9FAF8;
}

h1, h4 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.testimonial {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
}

.call {
    display: flex;
    background-color: #3882F6;
}

button {
    display: flex;
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
}

